* {
	margin: 0;
	padding: center;
	}
body {
	background: #eee;
	font: 12px/18px "Lucida Granda", Veranda, sans-serif;
	text-align: center;
	color: #333;
	background: #fff;
	}
a:link, a:visited {
	color: #966;
	}
a:hover {
	font-weight: bold;
	color: #966;
	}
h1 {
	margin-bottom: 11px;
	padding-top: 15px;
	padding-bottom: 21px;
	boder-bottom: 1px solid #ccc;
	font: normal italic 1.5em/18px Georgia, serif;
	color: #633;
	}
h2, h3 {
	font-weight: normal;
	font-size: 1em;
	line-height: 18px;
	}
h2 {
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 1.25em;
	text-transform: uppercase;
	color: #999;
	}
h3 {
	padding-bottom: 20px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -1px;
	color: #633;
	}
.left {
  float: left;
  margin: 10px 20px 10px 20px;
	}
.right {
  float: right;
  margin: 10px 20px 10px 20px;
	}
#page {
	margin: 0 auto;
	width: 960px;
	background: #fff;
	text-align: left;
	}
#header {
	position: fixed;
  top: 0;
  width: 960px;
	height: 192px;
	background: #966;
	z-index: 1;
	}

#header p {
	float:left;
	padding: 60px 24px 24px 24px;
	font-size: 1.5em;
	line-height: 1em;
	color: #fff;
	}
#content {
	position: relative;;
	top: 193px;
	float: right;
	margin: 24px;
	width: 720px;
	overflow: auto;
	background: #fff;
	}
#content p {
	padding-bottom: 18px;
	}
#rail {
	position: fixed;
	top: 193px;
	float: right;
	margin: 12px;
	width: 168px;
	font-size: 11px;
	color: #300;
	background: #fff;
	}
#rail p {
	padding-bottom: 18px;
	}
#footer {
	clear: right;
	height: 100px;
	background: #333;
	font-size: 10px;
	line-height: 1em;
	text-shadow: 1px 1px 1px #333;
	color: #fff;
	z-index: 1;
	}
#footer p {
	padding: 24px;
	}
.clear {
	clear:both;
	}
